

.contenedor {
    margin: 40px auto;
    max-width: 1100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.btn{
    margin-top: 40px;
}